<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Trending Movies</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <%- include partials/header.ejs %>

  <div class="container">
    <h1 class="py-3">All Trending Movies</h1>
    
    <!-- Search bar -->
    <div class="all-trending-movies-search-bar py-3">
      <input type="text" id="searchInput" placeholder="Search movies...">
      <button onclick="searchMovies()">Search</button>
    </div>

    
    <div id="transactionStatus"></div>
    
    <!-- Container for displaying trending movies -->
    <div id="trendingMoviesContainer" class="movies-container d-flex flex-wrap"></div>

    <!-- Pagination buttons -->
    <div id="pagination" class="pagination"></div>
  </div>

  <script src="/javascripts/all-trending-movies.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/web3@1.3.0/dist/web3.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


</body>
</html>
