<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/learn.css' />
    <title>Learn</title>
</head>
<body>
    <%- include partials/header.ejs %>
    <h2 class="text-center mt-4"> Learn Cryptocurrency</h2>

<div class="d-flex justify-content-evenly align-items-center">
   <div class="dropdown">
    <div>
        <button class="dropbtn">Select a Coin</button>
    </div>
    
    <div class="dropdown-content">
        <a onclick="showMessage('Bitcoin')">Bitcoin</a>
        <a onclick="showMessage('Ethereum')">Ethereum</a>
        <a onclick="showMessage('Dogecoin')">Dogecoin</a>
        <a onclick="showMessage('Litecoin')">Litecoin</a>
        <a onclick="showMessage('Ripple')">Ripple</a>
        <a onclick="showMessage('Bitcoin Cash')">Bitcoin Cash</a>
        <a onclick="showMessage('EOS')">EOS</a>
        <a onclick="showMessage('Monero')">Monero</a>
        <a onclick="showMessage('Tron')">Tron</a>
        <a onclick="showMessage('NEM')">NEM</a>
        <a onclick="showMessage('Tezos')">Tezos</a>
        <a onclick="showMessage('Theta')">Theta</a>
        <a onclick="showMessage('Neo')">Neo</a>
        <a onclick="showMessage('Dash')">Dash</a>
    </div>
</div>

<div id="message" class="message"></div> 

</div>



<script src="/javascripts/learn.js"></script>
<script src="https://cdn.jsdelivr.net/npm/web3@1.3.0/dist/web3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>