
body { 
    margin: 0;
    padding: 0; 
}
#map { 
    margin:0 auto;
    width: 80%; 
    height:80vh;
    border-radius:20px;
}

#search{
    justify-content:center;
    display:flex;
    margin: 20px;
}

.search-container { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    z-index: 1;
}
        
.search-input { 
    width: 200px; 
    padding: 5px; 
}


